# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# Log files
*.log

# Android Studio directories
.idea/
.DS_Store

# Compiled source code
*.class

# Built application files
*.apk
*.aar

# Ignore all .iml files
*.iml

# External native build folder generated in Android Studio
.externalNativeBuild

# ProGuard files
proguard/

# Others
*.jks
*.keystore
