<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="food.app.activity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodAppDemo">
        <activity android:name="food.app.activity.FoodDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="food.app.activity.CartActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="food.app.activity.NoOrderActivity"  android:exported="true"/>
        <activity android:name="food.app.activity.NoHistoryActivity"  android:exported="true"/>
        <activity android:name="food.app.activity.DashboardActivity" android:exported="true"/>
        <activity android:name="food.app.activity.ModifyUserActivity" android:exported="true"/>
        <activity android:name="food.app.activity.LoginActivity" />
        <activity android:name="food.app.activity.GetStartedActivity" />
        <activity android:name="food.app.activity.ProfileActivity" android:exported="true"/>
        <activity android:name="food.app.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>